/* Paleta de colores  */
:root {
    --color-primario-oscuro: #16697a;
    --color-primario: #489fb5;
    --color-primario-claro: #82c0cc;
    --color-fondo: #ede7e3;
    --color-acento: #ffa62b;

    /* Derivados */
    --color-texto: #1e2b2f;
    --color-hover: #3a90a3;
    --color-borde: #cdd6d9;
    --color-card: #f9f9f9;
    --color-gris-suave: #f3f3f3;
    --color-boton-cancelar: #e74c3c;
    --color-boton-cancelar-hover: #c0392b;
    --rojo-error: #d93025;
    --gris-texto: #444;
}

/* Base General  */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Contenedor principal del contenido */
main {
    flex: 1;
    background: var(--color-card);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    max-width: 1200px;
    margin: 40px auto;
}

/* Header */

header {
    background-color: var(--color-primario-oscuro);
    color: #fff;
    padding: 14px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

header .container {
    width: 90%;
    height: 70px;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Titulo Principal del Header */
header h2 {
    margin: 0;
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-acento);
    font-family: "Montserrat";
}

/* Link Titulo Principal */
header a {
    text-decoration: none;
}

/* Navbar */
nav {
    display: flex;
    gap: 20px;
}

/* Links del Header */
nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 5px;
    transition: background 0.2s, color 0.2s;
}

/* Efecto Hover a los links del Navbar */
nav a:hover {
    background-color: var(--color-primario);
}

/* Clase para mostrar link activo */
nav a.activo {
    background-color: var(--color-acento);
    color: #fff;
    cursor: default;
}

/* Dashboard y contenido*/

/* Título Principal Dashboard */
.dashboard h2 {
    color: var(--color-primario-oscuro);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

/* Descripción breve dashboard */
.dashboard p {
    color: var(--color-primario);
    max-width: 300px;
    margin-top: 30px;
}

/* Contenedor de card informativas dashboard */
.container-resumen {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

/* Link clickeable de card informativa */
.container-resumen a {
    text-decoration: none;
}

/* Tarjeta informativa dashboard */
.card-resumen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primario);
    color: #fff;
    border-radius: 8px;
    padding: 8px 10px;
    width: 150px;
    height: 50px;
    text-align: center;
    border-top: 3px solid var(--color-primario-oscuro);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

/* Efecto hover a Tarjeta informativa dashboard */
.card-resumen:hover {
    background-color: var(--color-acento);
    color: #fff;
    transform: translateY(-6px);
}

/* Texto de card informativa */
.card-resumen p {
    margin: 0;
    line-height: 1.2;
    font-weight: 500;
    color: #fff;
}

/* Contenedor principal */
.dashboard-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 50px;
    padding: 40px;
}

.dashboard-texto {
    flex: 1;
    max-width: 450px; /* controla el ancho del texto + botones */
}

/* Contenedor de la imagen */
.imagen-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Imágen */
.imagen-container img {
    width: 500px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

footer {
    text-align: center;
    padding: 16px;
    font-size: 1rem;
    color: var(--color-acento);
    background-color: var(--color-primario-oscuro);
    border-top: 2px solid var(--color-borde);
    margin-top: auto;
}
