{% extends "base.html" %} {% block title %}Editar Libro{% endblock %} {% block
content %}
<link rel="stylesheet" href="../static/css/libros.css" />
<h2>Editar Libro</h2>
<form method="POST">
    <label for="titulo">Título:</label>
    <input
        id="input-titulo"
        type="text"
        name="titulo"
        placeholder="Título"
        value="{{ form.titulo if form else libro.titulo }}"
    />
    {% if errores and errores.get('titulo') %}
    <p class="error" data-field="titulo">{{ errores['titulo'] }}</p>
    {% endif %}
    <br />

    <label for="autor">Autor:</label>
    <input
        id="input-autor"
        type="text"
        name="autor"
        placeholder="Autor"
        value="{{ form.autor if form else libro.autor }}"
    />
    {% if errores and errores.get('autor') %}
    <p class="error" data-field="autor">{{ errores['autor'] }}</p>
    {% endif %}
    <br />

    <label for="genero">Género:</label>
    <input
        id="input-genero"
        type="text"
        name="genero"
        placeholder="Género"
        value="{{ form.genero if form else libro.genero }}"
    />
    {% if errores and errores.get('genero') %}
    <p class="error" data-field="genero">{{ errores['genero'] }}</p>
    {% endif %}
    <br />

    <button type="submit">Guardar cambios</button>
    <a href="{{ url_for('libros') }}"
        ><button type="button">Cancelar</button></a
    >
</form>

{% endblock %}
